body, html {
    margin-top: 0px;
    margin-bottom: 0px;
}

table.summary th {
    font-weight: normal;
}

table.summary tr td {
    padding-right: 20px;
    text-align: right;
    white-space: nowrap;
}

table.summary tr td:first-child, table.summary th:first-child {
    text-align: left;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid black;
    display: inline-block;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-right: 5px solid black;
    display: inline-block;
}

.arrow-left-disabled {
    border-right: 5px solid gray;
}

.arrow-right-disabled {
    border-left: 5px solid gray;
}


@media (orientation: portrait) {
    #container {
        position: absolute;
        top: 160px;
        /* 160px reserved for #summary, 15px reserved for #legend and 16px is the margin of body */
        /* TODO get rid of "160px" everywhere, use dynamic positioning and height */
        height: calc(100% - 160px - 16px - 15px);
        width: calc(100% - 16px);
    }

    #legend, #summary {
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
    }

    #legend {
        position: absolute;
        bottom: 10px;
    }

    .legend-div {
        display: inline-block;
        padding-right: 10px;
    }

    #summary {
        position: absolute;
        top: 0;
        table-layout: fixed;
    }
}

@media (orientation: landscape) {
    #container {
        position: absolute;
        /* 400px: size of #legend and #summary on the right; 16px: the margin of body; 15px: additional padding */
        width: calc(100% - 400px - 16px - 15px);
        height: calc(100% - 10px);
    }

    #legend, #summary {
        position: absolute;
        right: 0px;
        width: 400px;
    }

    #legend {
        /* 160px reserved for #summary and 30px padding */
        top: 190px;
    }

    #summary {
        padding-top: 10px;
        padding-right: 8px;
        table-layout: fixed;
    }
}